.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.block__why {
    text-align: center;
    background-color: #6e9489;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .block__why-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
  }
  
  
  .advantage {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .advantage img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }
  
  .advantage p {
    font-size: 16px;
    font-weight: 500;
    color: #6e9489;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.services-section {
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  
  .services-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  

  
  .service-item {
    background-color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
    width: 300px;
    padding: 15px 20px;
   
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .service-item:hover {
    background-color: #e9ecef;
  }
  
  .service-item i {
    color: #007bff;
  }
  
  .service-item span {
    text-align: center;
  }

  .services-button {
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .services-button:hover {
    background-color: #007bff;
    color: #fff;
  }

  .promotion-section {
    text-align: center;
    padding: 40px 20px;
  }
  
  .promotion-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .promotion-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    height: 100px;
    font-weight: 400;
  }
  
  .promotion-image {
    border-radius: 15px;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .promotion-info {
    text-align: left;
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .promotion-info h5 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 24px;
    color: #007bff;
    font-weight: bold;
  }
  
  .promotion-date {
    margin-top: 10px;
    font-size: 14px;
    color: #6c757d;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #6e9489;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .promotion__text {
    text-align: center;
    display: flex;
    justify-content: center;
   
  }

  .beleeve__section {
    text-align: center;
    padding: 40px 20px;
    background-color: #6e9489;
    color: white;
    margin-top: 30px;
  }
  
  .beleeve__section-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .beleeve__section-text {
    text-align: center;
    width: 500px;
  }

  .btn-primary {
    --bs-btn-bg: #6e9489;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.consultation-form {
    background-color: #6e9489;
    padding: 30px;
    border-radius: 20px;
    max-width: 800px;
    margin: 40px auto;
    color: white;
}

.form-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-content {

}

.consultation-info {
    flex: 1;
    max-width: 100%;
}

.consultation-info h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.consultation-list {
    list-style: none;
}

.consultation-list li {
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.consultation-list li i {
    color: #95c9ba;
    margin-right: 10px;
}

.form-fields {
    flex: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.form-fields input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #88b6a9;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #64887e;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.mapframe {
  width: 600px;
  height: 450px;
}

.phone__link, 
.mail__link, 
.gis__link, 
p {
    font-size: 16px; /* Размер шрифта */
    color: #6e9489;  /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    margin-bottom: 10px;
    display: inline-block;
}

.phone__link:hover,
.mail__link:hover,
.gis__link:hover {
    color: #86b4a7; /* Цвет при наведении */
}

p {
    font-size: 16px; /* Размер шрифта для текста */
    color: #333;     /* Цвет текста */
    margin-bottom: 5px;
}

.phone__link::before {
    content: "\f095"; /* Иконка телефона (используя FontAwesome) */
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    margin-right: 8px;
}

.mail__link::before {
    content: "\f0e0"; /* Иконка конверта */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
}

.gis__link::before {
    content: "\f279"; /* Иконка карты (можно использовать другую иконку, если нет подходящей) */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
}

p:nth-child(4)::before {
    content: "\f3c5"; /* Иконка локации (адрес) */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
}

p:nth-child(5)::before {
    content: "\f16d"; /* Иконка Instagram */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
}

.sw-block {
  display: flex;
  gap: 1rem;
}


.footer {
  background-color: #6e9489;
  color: white;
  margin-top: 2rem;
  
  padding: 40px 20px;
}

.footer a { 
  color: white;
}

.contacts__section {
  padding: 40px 20px;
}

.footer__title {
  font-weight: 600;
  font-size: 36px;
}

.inst__link, .wp__link {
  text-decoration: none; /* Убираем подчеркивание */
  font-size: 18px;        /* Размер текста */
  color: #333;            /* Цвет текста */
  transition: color 0.3s ease;
}

.inst__link:hover::before, .wp__link:hover::before {
  color: #000; /* Цвет иконок при наведении */
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  
}

.header__phone, .header__address {
  text-align: end;
  margin-right: 50px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.55;
  border-radius: 30px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.header__phone {
  color: #64887e;
  font-weight: 600;
}

.logo__img {
  height: 70px;
  width: 350px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
  font-size: 24px;
  font-weight: 500;
}

.nav-link  {
  color: #333;
  font-size: 17px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #6e9489 !important;; /* Цвет при наведении */
}

.header__contacts {
  font-size: 16px;
}


.social__icon {
  color: #333;
  font-size: 20px;
}

.social__icon:hover {
  color: #6e9489;
}

.main__section {
  padding: 40px 20px;
  color:#64887e;

}

.main__section-block {
  height: 90vh;
  background-color: #F5F5F5;
  padding-top: 50px;
  
}

.main__section-green_block {
  background-color: #6e9489;
  border-radius: 20px;
  

}

.main__section-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  
}

.main__section-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 20px;

 
}

.phone-link {
  color: #64887e;
  font-weight: 600;
  text-decoration: none;
}



.hero-section {
  background-color: #6e9489;
  padding: 50px 20px;
  border-radius: 20px;
  position: relative;
  
}
.hero-slogan {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}
.cta-buttons {
  margin-top: 20px;
}
.cta-buttons a {
  padding: 15px 30px;
  font-size: 1.2rem;
}
.cta-consult {
  background-color: #88b6a9;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
.cta-whatsapp {
  background-color: #25D366;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
.logo-placeholder {
  
  width: 500px;
  height: 500px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3A3A3A;
}

.wp_logo {
  width: 40px;
  height: 40px;
}


@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header__contacts {
    flex-direction: column;
    text-align: right;
  }
}




@media (max-width: 575px) { 
  .mapframe {
    width: 300px;
    height: 225px;
  }

  .main__section-block {
    height: 80vh;
  }

  .main__section-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .main__section-text {
    font-size: 12px;
    font-weight: bold;
  }

  .logo-placeholder {
  
    width: 200px;
    height: 200px;
  }

  .hero-slogan {
    font-size: 2rem;
    text-align: center;
  }

  .cta-buttons {
    flex-direction: column;
    text-align: center;
  }

  .hero-section {
    flex-direction: column-reverse;
    height: 100%;
    padding: 25px 10px;
  }

  .nav-item {
    text-align: center;
    font-size: 15px;
  }

  .header__phone {
    font-size: 15px;
    margin: 0;
  }

  .header__right-block {
    display: flex;
    flex-direction: row;
  }

  .wp_logo {
    width: 20px;
    height: 20px;
  }

  .header__address {
    font-size: 15px;
    margin-left: 7px;
    margin-right: 0px;
  }

  .logo__img {
    width: 170px;
    height: 35px;
  }

  .logo {
    text-align: center;
    margin-bottom: 10px;
  }

  .main__section-block {
    padding-top: 15px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    
    width: 15px;
    height: 15px;
  }
  

}
